<table class="tx-ab-customercare" >
	<tr>
		<td>
			<f:translate key="tx_abcustomercare_domain_model_company.name" />
		</td>
		<td>
			{company.name}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_abcustomercare_domain_model_company.telephone" />
		</td>
		<td>
			{company.telephone}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_abcustomercare_domain_model_company.email" />
		</td>
		<td>
			{company.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_abcustomercare_domain_model_company.is_active" />
		</td>
		<td>
			{company.isActive}
		</td>
	</tr>
</table>