<table class="tx-ab-customercare" >
	<tr>
		<td>
			<f:translate key="tx_abcustomercare_domain_model_action.type" />
		</td>
		<td>
			{action.type}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_abcustomercare_domain_model_action.channel" />
		</td>
		<td>
			{action.channel}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_abcustomercare_domain_model_action.files" />
		</td>
		<td>
			{action.files}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_abcustomercare_domain_model_action.time" />
		</td>
		<td>
			{action.time -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_abcustomercare_domain_model_action.notes" />
		</td>
		<td>
			{action.notes}
		</td>
	</tr>
</table>