<label for="name">
	<f:translate key="tx_abcustomercare_domain_model_company.name" /> <span class="required">(required)</span>
</label><br />
	<f:form.textbox property="name" /><br />
<label for="telephone">
	<f:translate key="tx_abcustomercare_domain_model_company.telephone" />
</label><br />
	<f:form.textbox property="telephone" /><br />
<label for="email">
	<f:translate key="tx_abcustomercare_domain_model_company.email" />
</label><br />
	<f:form.textbox property="email" /><br />
<label for="isActive">
	<f:translate key="tx_abcustomercare_domain_model_company.is_active" />
</label><br />
	<f:form.checkbox property="isActive" value="1" /><br />