<label for="lastName">
	<f:translate key="tx_abcustomercare_domain_model_employee.last_name" />
</label><br />
	<f:form.textbox property="lastName" /><br />
<label for="firstName">
	<f:translate key="tx_abcustomercare_domain_model_employee.first_name" />
</label><br />
	<f:form.textbox property="firstName" /><br />
<label for="telephone">
	<f:translate key="tx_abcustomercare_domain_model_employee.telephone" />
</label><br />
	<f:form.textbox property="telephone" /><br />
<label for="email">
	<f:translate key="tx_abcustomercare_domain_model_employee.email" />
</label><br />
	<f:form.textbox property="email" /><br />